html, body { 
  height: 100%;
  margin: 0;
}

.meeting, #info {
  position: relative;
  height: 100%;
  width: calc(100% - 200px);
  float: left;
  /*-webkit-animation: meetingOut 0.5s;
  -moz-animation:    meetingOut 0.5s;
  -o-animation:      meetingOut 0.5s;
  animation:         meetingOut 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  animation-fill-mode:         forwards;
  -webkit-animation-direction: reverse;
  -moz-animation-direction:    reverse;
  -o-animation-direction:      reverse;
  animation-direction:         reverse;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;*/
}

.slide {
  -webkit-animation: meetingIn 1.5s;
  -moz-animation:    meetingIn 1.5s;
  -o-animation:      meetingIn 1.5s;
  animation:         meetingIn 1.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  animation-fill-mode:         forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

#whiteboard {
  padding-top: 3px;
  display: inline-block;
  background-color: #111;
  width: 100%;
  /*height: 80%;*/
}

#whiteboard video {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100wh;
}

#user-list video {
  height: 125px;
  border: 1px solid #00FF00;
  margin: 3px;
}

.user-div {
  height: 125px;
  width: 167px;
  margin: 3px;
  border: 1px solid grey;
  display: inline-block;
  text-align: center;
  background-color: #111;
  color: white;
  font-size: 1em;
}

#user-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: inline-block;
  padding-top: 3px;
}

#my-video {
  display: inline-block;
}

#my-video video {
  border: 1px solid red;
}
.menu {
  margin: 10px 10px;
}

#invites {
  position: relative;
  height: 100%;
  width: 200px;
  float: left;
  background: grey;
/*  -webkit-animation: slideOut 1s;
  -moz-animation:    slideOut 1s;
  -o-animation:      slideOut 1s;
  animation:         slideOut 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  animation-fill-mode:         forwards;
  -webkit-animation-direction: reverse;
  -moz-animation-direction:    reverse;
  -o-animation-direction:      reverse;
  animation-direction:         reverse;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;*/
}

#invites.hidden {
  -webkit-animation: slideIn 1s;
  -moz-animation:    slideIn 1s;
  -o-animation:      slideIn 1s;
  animation:         slideIn 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  animation-fill-mode:         forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

#users, #meeting-list {
  padding: 0;
}

#users > li, #meeting-list > li {
  border-collapse: collapse;
  border: 1px solid black;
  background-color: #eee;
  list-style: none;
  padding-left: 10px;
}

#center {
  font-size: 20px;
  text-align: center;
  height: 100%;
  overflow: scroll;
}

#center img {
  margin: 0 auto;
}

@-webkit-keyframes slideIn {
  0%   { left: 0px; }
  100% { left: -200px; }
}
@-moz-keyframes slideIn {
  0%   { left: 0px; }
  100% { left: -200px; }
}
@-o-keyframes slideIn {
  0%   { left: 0px; }
  100% { left: -200px; }
}
@keyframes slideIn {
  0%   { left: 0px; }
  100% { left: -200px; }
}

@-webkit-keyframes slideOut {
  0%   { left: 0px; }
  100% { left: -200px; }
}
@-moz-keyframes slideOut {
  0%   { left: 0px; }
  100% { left: -200px; }
}
@-o-keyframes slideOut {
  0%   { left: 0px; }
  100% { left: -200px; }
}
@keyframes slideOut {
  0%   { left: 0px; }
  100% { left: -200px; }
}

@-webkit-keyframes meetingIn {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}
@-moz-keyframes meetingIn {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}
@-o-keyframes meetingIn {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}
@keyframes meetingIn {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}

@-webkit-keyframes meetingOut {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}
@-moz-keyframes meetingOut {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}
@-o-keyframes meetingOut {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}
@keyframes meetingOut {
  0%   { width: calc(100% - 200px); }
  100% { width: 100%; }
}
